*{
    padding:0;
    margin:0;
}

body { 
    background: linear-gradient(90deg,#c8fbd5 0% , #ffffff 100%); font-weight: 0;}

header{
    background: white;
}



header a{ 
    text-decoration: none; 
    padding-top: 1rem; 
    padding-left: 2.5rem;
     font-weight:450; 
     font-size: 1rem;
     color:black;
    }

    header a:hover{ 
         
         color: rgb(35, 122, 67) ;
        }
    
    header button:hover{
        background:linear-gradient(90deg,#a2ffb9 0% , #edebec 100%); 
        color: rgb(2, 2, 2);
        }

    


span{
    color: rgb(35, 122, 67) ;
}



/*toggle*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    /* left: 0; */
    right:0;
    background-color:rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:0px;
  }
  
  .sidenav a {
    margin-top:25px ;
    line-height:50px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #12b900;
    display: block;
    transition: 0.3s;
    text-align:center;
    
  }
  
  .sidenav a:hover {
    color:rgba(207,205,205,1.00);
    background-color:rgba(0,0,0,1.00);
  }
  
  .sidenav .closebtn {
    position:absolute;
    top: 7px;;
    right: 25px;
    font-size: 70px;
    margin-right: 50px;
    width:50px;
    color: #c2f1ce;
    
  }
  /* .sidenav h4{
      position:absolute;
      top:27px;
      right:80px;
      } */
  .sidenav h6{
      font-family: 'Poppins', sans-serif;
      }
  


 
  .toggle span{

    
    display: flex;
    
      font-size:50px; 
      color:rgb(0, 0, 0);; 
      cursor:pointer; 


      position: absolute;
    top: 0;
    right: 25px;
   
    margin-left: 50px;
    width:50px;
    
         
      } 